body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

img {
  width: 100%;
}

.section {
  display: flex;
  padding: 24px;
}

.section--full {
  height: 100vh;
}

.caption {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  padding: 10px 30px;
  font-weight: 400;
}

.caption-basic {
  background: rgba(0,0,0,0.6);
  padding: 10px 30px;
  font-weight: 400;
}

.welcome {
  background-image: url("../images/swiss.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 55%;
  flex-direction: column;
}

.welcome-title-wrapper {
  font-weight: 900;
  margin: auto;
  text-align: center;
  color: #fff;
}

.welcome-title {
  text-shadow: 2px 5px black;
  font-size: 8vw;
  line-height: 1.3;
}

.welcome-subtitle {
  font-size: 24px;
  text-shadow: 1px 3px black;
}

.part1-title-wrapper {
  text-align: center;
  font-weight: 400;
  margin: auto;
  max-width: 720px;
}

.part1-heading {
  font-size: 21px;
  line-height: 1.6;
}

.part1-subheading {
  color: #555;
  font-size: 16px;
  margin-top: 60px;
}

.details {
  margin: auto;
}
.details-title-wrapper {
  text-align: left;
  font-weight: 400;
  margin: auto;
  max-width: 720px;
}

.details-heading,
.details-body,
.details-list {
  font-size: 18px;
  line-height: 1.6;
}

.details-list,
.list-link {
  /* color: #52a908; */
  line-height: 2.5;
  color: rgb(0, 165, 194);
  /* font-style: italic; */
  text-decoration: none;
}

.list-link:hover {
  color: rgb(0, 85, 100);
}

.details-heading {
  font-weight: 900;
}

.caption {
  color: white;
}

.photo-caption {
  margin-left: 12px;
}

@media screen and (min-width: 680px) {
  .section {
    padding: 32px;
  }

  .part1-heading {
    font-size: 21px;
    line-height: 2;
  }
  .details-heading,
  .details-body,
  .details-list {
    font-size: 21px;
  }

  .part1-subheading {
    font-size: 16px;
  }
}

@media screen and (min-width: 1000px) {

  .welcome-title-wrapper,
  .part1-title-wrapper,
  .details-title-wrapper  {
    margin: auto;
  }

}


@media screen and (min-width: 1260px) {

  .part1-heading {
    font-size: 2.25vw;
    line-height: 2;
  }
  .details-heading,
  .details-body,
  .details-list {
    font-size: 1.6vw;
  }

  .part1-subheading {
    font-size: 1.4vw;
  }

  .part1-title-wrapper,
  .details-title-wrapper {
    max-width: 50%;
  }
}
